.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixAll2{
    background-color: rgba(0, 0, 0, 0.074);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    margin-right: 1rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}
.error{
    color: red;
    font-size: small;
}
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

/* button:hover {
    background-color: #005CA6;
} */
