.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixAll2{
    background-color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    margin-right: 1rem;
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0077CC;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

/* button:hover {
    background-color: #005CA6;
} */
