
.modalImage{
    object-fit: contain;
    height: 20rem;
}

.continer{
    width: 100vw;
    position: fixed;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.container2{
    width: 100vw;
    position: fixed;
    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.container3{
    width: 100vw;
    position: fixed;
    top: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.container4{
    width: 100vw;
    position: fixed;
    top: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container3 p:nth-child(1)
{
    background-color: blue;

}
.container3 p:nth-child(2)
{
    background-color: yellow;

}
.container3 p:nth-child(3)
{
    background-color: green;

}
.container3 p:nth-child(4)
{
    background-color: red;

}
.continer p:nth-child(4)
{
    background-color: blue;

}
.continer p:nth-child(3)
{
    background-color: yellow;

}
.continer p:nth-child(2)
{
    background-color: green;

}
.continer p:nth-child(1)
{
    background-color: red;

}
.container2 p:nth-child(1)
{
    background-color: blue;

}
.container2 p:nth-child(3)
{
    background-color: yellow;

}
.container2 p:nth-child(2)
{
    background-color: green;

}
.container2 p:nth-child(4)
{
    background-color: red;

}
.container4 p:nth-child(4)
{
    background-color: blue;

}
.container4 p:nth-child(2)
{
    background-color: yellow;

}
.container4 p:nth-child(3)
{
    background-color: green;

}
.container4 p:nth-child(1)
{
    background-color: red;

}

