*{
    padding: 0;
    margin: 0;
}

.first{
    background-color: green;
    margin: 4rem;
}
.second{
    background-color: red;
    height: 2rem;
    
}
.third{
    background-color: blue;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.fourth{
    background-color: brown;
    height: 2rem;
    margin-left: 1rem;
}
.theAllPage2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonLock {
    position: relative;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    background: none; 
    left: -1rem;
  }
  
  .buttonLock img {
    align-items: center;
    justify-content: center;
  
    width: 2rem;
    object-fit: contain;

  }
