*{
    padding: 0;
    margin: 0;
}

.first{
    background-color: green;
    margin: 4rem;
}
.second{
    background-color: red;
    height: 2rem;
    
}
.third{
    background-color: blue;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.fourth{
    background-color: brown;
    height: 2rem;
    margin-left: 1rem;
}
/* .theAllPage {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
.buttonLock{
   display: flex;
   align-items: center;
   justify-content: center;

    
} */
.buttonLock{
    position: absolute;
    background: none;
    left: 44%;
    top: 60%;
    width: 2rem;
    height:2rem;
}